@tailwind base;
@tailwind components;
:root{
    @apply text-[16px]
} 
@media (max-width:640px) {
        :root{
        @apply text-[12px]

    }
   header .nav{
    @apply bg-[yellow] h-full absolute right-0 top-0 flex flex-col gap-8 pr-[7rem] pt-[5rem] pl-[2rem] z-[0] right-0 transition-all
   } 
   header .nav.active{
    @apply right-full
   }
}
@tailwind utilities;

*{
    @apply p-0 m-0 box-border text-[16px]
}

.body{
    @apply w-screen h-screen overflow-x-hidden lg:px-[10rem] lg:py-[5rem] py-[2rem] px-[1rem]
}
header .nav{
    @apply  lg:block lg:flex lg:gap-[3rem] 
}
main{
    @apply w-full flex justify-between mt-[2rem] lg:flex-row flex-col lg:gap-0 gap-8
}
.web3{
    @apply text-black lg:w-[64%] flex flex-col gap-12
}
.bright{
    @apply flex lg:flex-row flex-col justify-between lg:gap-0 gap-8
}
::-webkit-scrollbar{
    width: 6px;
    background-color: #cac7ce;

}
::-webkit-scrollbar-thumb{
    background-color: #eeaa4f;
    border-radius: 50px;
}
